body, html{
	margin-top: 1%;
}
.map-container{
	margin: 0 auto;
	height: 600px;
	width: 80%;
}

.location-link, .location-link h4{
	text-decoration: underline;
	font-size: 1em;
	display: block;
	text-align: center;
	color: black;
}

.big-nav h2{
	font-size: 0.8em;
}

.big-nav.contact{
	background-position: 15px 15px;
}

.location-list{
	margin: 50px auto;
	overflow: hidden;
	width: 80%;
	min-width: 750px;
}

.b-logo{
	position: relative;
	margin: 50px auto 0 auto;
	height: 150px;
	width: 24%;
	max-width: 200px;
	min-width: 175px;
	display: inline-block;
}

.b-logo.each-peach{
	background: url('../pics/each-peach.svg') 50% 30px no-repeat;
	background-size: 95%;
}

.b-logo.nourish-market{
	background: url('../pics/nourish-market.png') 40px 0 no-repeat;
	background-size: 65%;
}
.b-logo.nalls{
	background: url('../pics/nalls.png') 50% 0 no-repeat;
	background-size: 95%;
}
.b-logo.red-fox{
	background: url('../pics/red-fox.png') 50% 0 no-repeat;
	background-size: 75%;
}
.b-logo.ob-mclean{
	background: url('../pics/ob-mclean.png') 50% 0px no-repeat;
	background-size: 250%;
}

.b-logo.hallow{
	background: url('../pics/heritage-hollow.png') 50% 0 no-repeat;
	background-size: 45%;
}

.b-logo.relay-foods{
	background: url('../pics/relay-foods.png') 50% 0 no-repeat;
	background-size: 100%;
}

.b-logo.hometown{
	background: url('../pics/hometown.png') 50% 0 no-repeat;
	background-size: 75%;
}

.b-logo.meet-market{
	background: url('../pics/meet-market.jpeg') 50% 25px no-repeat;
	background-size: 95%;
}

.b-logo.mrs-greens{
	background: url('../pics/mrs-greens.png') 50% 25px no-repeat;
	background-size: 95%;
}

.b-logo.from-the-farmer{
	background: url('../pics/from-the-farmer.jpg') 50% 25px no-repeat;
	background-size: 95%;
}

.b-logo.sona{
	background: url('../pics/sona.png') 50% 0px no-repeat;
	background-size: 85%;	
}

.b-logo.union-kitchen{
	background: url('../pics/union-kitchen.jpg') 50% 0px no-repeat;
	background-size: 70%;	
}

.b-logo.urban-pantry{
	background: url('../pics/urban-pantry.jpg') 50% 0px no-repeat;
	background-size: 70%;	
}

.b-logo.lebanese-taverna{
	background: url('../pics/lebanese-taverna.jpg') 50% 40% no-repeat;
	background-size: 110%;	
}

.b-logo.whole-foods{
	background: url('../pics/whole-foods.jpg') 50% 40% no-repeat;
	background-size: 70%;	
}

.b-logo.yes-market{
	background: url('../pics/yes-market.png') 50% 40% no-repeat;
	background-size: 70%;	
}

.b-logo.vigilante{
	background: url('../pics/vigilante.png') 50% 40% no-repeat;
	background-size: 90%;	
}

.b-logo.nurish{
	background: url('../pics/nurish.png') 50% 40% no-repeat;
	background-size: 60%;	
}

.b-logo.red-truck{
	background: url('../pics/red-truck.png') 50% 40% no-repeat;
	background-size: 90%;	
}

.b-logo.local-market{
	background: url('../pics/local-market.png') 50% 40% no-repeat;
	background-size: 90%;	
}

.b-logo.willowsford{
	background: url('../pics/willowsford.png') 50% 40% no-repeat;
	background-size: 90%;
}

.b-logo.takorean{
	background: url('../pics/takorean.png') 50% 40% no-repeat;
	background-size: 90%;
}