body, html{
	font-family: landrygo, 'American Typewriter';
	padding-bottom: 100px;
	height: 2000px
}

a:link{
	text-decoration: none;
	color:inherit
}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit;
	cursor: pointer;
}

.new-flavor{
	font-family: landrygo, 'American Typewriter';
	position: absolute;
	top: 15px;
	left: 30px;
	color: orange;
	font-size: 1em;
}

h3{
	font-size: 1.3em;
	text-decoration: none;
}

h2{
	font-size: 3em;
	text-align: center;
	text-decoration: none;
}

#store-container{
	height: 550px;
  background-color: gray;
}

.payment-form-container{
	height: 45px;
	width: 80%;
	margin: 0 auto;
	padding-top: 5%;
}

#payment-form {
  width: 480px;
  margin: 20px auto;
}

.payment-form-group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

.payment-form-label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  display: block;
}

.payment-form-group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label > span {
  width: 20%;
  text-align: right;
  float: left;
}

.payment-form-field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 70%;
  height: 40px;
  float: right;
}

.payment-form-field::-webkit-input-placeholder { color: #CFD7E0; }
.payment-form-field::-moz-placeholder { color: #CFD7E0; }
.payment-form-field:-ms-input-placeholder { color: #CFD7E0; }

.payment-submit-button {
  float: left;
  display: block;
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

.payment-submit-button:focus {
  background: #555ABF;
}

.payment-submit-button:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

.big-byrd-container{
	position: relative;
	width: 100%;
}

.big-byrd-container img{
	width: 100%;
	display: block;
}

.nav-container{
	position: fixed;
	top: 0;
	margin: 10px;
	z-index: 400;
	width: 100%;
	overflow: hidden;
}

.statement{
	width: 70%;
	line-height: 25px;
	margin: 120px auto 50px auto;
	margin-top: 3%;
	text-align: center;
	font-size: 90%;
	opacity: 0.7;
}

.big-nav{
	position: relative;
	display: inline-block;
	float: left;
	background-size: 80%;
	opacity: 0.7;
	margin-right: 15px;
	padding-left: 2px;
}

.big-nav:hover{
	cursor: pointer;
	opacity: 1;
}

.big-nav h2{
	font-size: 15px;
	margin: 10px 0 20px 0;
	text-align: center;
	text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.big-byrd {
	border: none;
	background: url('../pics/just-byrd.png') 5px 0px no-repeat;
	background-size: 80%;
	width: 50px;
	height: 40px;
}

.section-container{
	min-height: 400px;
	position: relative;
	overflow: hidden;
	background: #515151;
	padding: 50px 0;
}

#locations{
	width: 100%;
}

#contact{
	background: #00B4FF;
	margin-top: 0px;
	min-height: 200px;
	padding-bottom: 0;
}

#flavors{
	background: gray;
}

#pictures{
	background: #353535;
}

.section-container h2, .section-container h3{
	text-align: center;
	color: white;
}

.section-container .statement{
	color: #EEE;
}

.contact-circle-container{
	display: flex;
	justify-content: center;
	margin: 50px auto;
	height: 100px;
}

.contact-circle{
	display: inline-block;
	height: 88px;
	width: 88px;
	border-radius: 200px;
	border: 5px solid white;
	margin: 0 25px 0 50px;
}

.contact-circle.twitter{
	background: url('../pics/twitter.svg') 15px 15px no-repeat;
	background-size: 70%;
}

.contact-circle.email{
	background: url('../pics/mail.svg') 18px 25px no-repeat;
	background-size: 60%;
}

.contact-circle.tumblr{
	background: url('../pics/tumblr-logo.png') 7px 8px no-repeat;
	background-size: 85%;
}

.contact-circle.instagram{
	background: url('../pics/instagram_white.png') 15px 15px no-repeat;
	background-size: 68%;
}

@font-face
{
	font-family: landrygo;
	src: url('../fonts/landrygo.ttf');
}

/*remove scrollbar from google maps markers*/
.gm-style-iw div{
	overflow: hidden !important;
}
